body {
	margin: 0em auto; 
	padding: 0em;
	color: #555;
	font-weight: bold; 
	text-align: right;
  font-size:.67em;
	font-family: "Helvetica Neue", sans-serif
}
h1, h2 {
  margin: 0em; 
  padding: 0em;
  font-size: 1em;
}

/* ouput */
.output{
  position:relative;
  padding:.4em .5em 1em 0;
  border-top:1px solid #f3f3f3;
  cursor:pointer;
  text-align:right;
  background:transparent none 2% 47% no-repeat;
}
.output:active{
  background-color:rgba(0,255,0,0.40)
}
.output h1{
  padding:0 0 .1em;
  font-size:4.7em;
  letter-spacing:.02em
}
.output h2{
  padding:0 .2em 0;
  color:#999;
  font-size:1.1em;
  line-height:.5;
  letter-spacing: .1em;
}
.output h2 em{
  left:-.3em;
  color:#ccc
}

/* input-pad */
.input-pad {
  float: left;
  width: 105%; 
  margin: 0;
  padding: 0;
  -moz-box-shadow:inset 0 2px 8px rgba(0,0,0,0.15);
  -webkit-box-shadow:inset 0 2px 8px rgba(0,0,0,0.15);
  -moz-box-shadow:inset 0 2px 8px rgba(0,0,0,0.15);
  -webkit-box-shadow:inset 0 2px 8px rgba(0,0,0,0.15);
  box-shadow:inset 0 2px 8px rgba(0,0,0,0.15);
  overflow:hidden;
  background: #f2f2f2 none top left repeat-x; 
}
.input-pad li{
  float:left;
  width:25%;
  padding:.7em 0;
  margin:1.2% 0%;
  font-size:2.7em;
  text-align:center;
  cursor:pointer;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.input-pad li{
  list-style-type: none;
}
.input-pad li:active{
  background:rgba(0,0,0,0.05)
}
.input-pad .clear{
  padding-top:2.45em;
  font-size:1.4em;
  background:none 50% 30% no-repeat
}
@media only screen and (-webkit-min-device-pixel-ratio:1){
  // .output{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAYAAADd/14OAAAAaUlEQVQokWNgwAE6OzsDgDgDiDn+//+PU5EDEDdAcQZWhUAJAyRFIByAoRCbIpA4ikIsihJgcnCFWBSBPYGiECiggU8RssIKNIUC6B6EKcRrLeluJBQ0GAqJDkd8ivHFtQfBuEZSjJJ6ALPvvW9ej7+LAAAAAElFTkSuQmCC")}
  .input-pad .clear{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAA8UlEQVR42u3VP0tCURiA8ROEtLQ0OAhGQ01tfgWb+wB+BgchBA2EVNwcXB38HG3t4oWLGOlUewpOQRLy+gxeuBw44XmhK8QZfsvLgQcO548RkaMI4RAO4b8LR1HkUsYEb5gdaIEBCtrwHdYQhS3qmnAJKwhsS3xbs09srFnHN3yND0f0HbeopmYxiuhZa598wnnEEIf71NpHTHEFgxO8aMJneIb8YoxLGJziHGavhh/f8AWGkAPMk3hKA6LZ6gq+jhHO4QGS9VYnupCsD1eiD8nqOrnj+gek7Re243pNXRhoYYFXz09ihJvwH4dwCP+/8A7n95F+p5lWNAAAAABJRU5ErkJggg==")}
}
@media only screen and (-webkit-min-device-pixel-ratio:2){
  // .output{background-size:6px 8px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAg5JREFUOMtjYMAK5AWzrKcn9hW0htbKM+ACzIzi7NbyRe5TsnpLW+NrTZYIPWHFqpCb2U+q1qEtraehq6G1tDZtif0TYSzKxFnsJOrsF2RMrG3v7uhoa25sWBH8VAKLQj++OuOuhAn13Y0dbe2dnY1dJRvdX4hgmiZaZ7QgZmJNe09HW3fjhIaG7CT/Dq07PJimGXXFTKgBm9Y+sX5BcbGvgoorzwlmTNNiJ9Z29Ha0djX1tLTl1fq5qzKw4DKtqbO1s7W3aUpdUaS1hig3AyNO0zobO1smlMyNzTIS5kAxi5fRH8W0juaOlklJS4xL+OSYkCOLzUqoxhBuWkNnc3fZhJQuy1o+NLdliRdptUVOqAWb1tzR2NE8MXmBaa2gLbonpjtOCeqp7OjraAG6rbWroje51aySF0tM9OX3lnTVdYKUNXd292ZNNcnnxJoE+op6y7rqiVA43WNKeE810COErM6SK9Jvi4YGDT7PyHNYidQYoQVPcpdVrQAWU9ECvKWjdVLiEoMSbjlG7MkLZipQ+YTCuYFZqsIs2BMszNS2zvbeuilFRb7WymiJAs3Uvo62rsaehrbsWl8syQwj4XZObMSacFGyQjWBrAA11aQraUJjdxOezAU1VarOdUHexPr2LrzZFVgAsPop1Lq1pffU4y0AwEUKp7VCkQfBIgUEhDjTTGfE9ue1BtaKQUQA61MYeCWsyZYAAAAASUVORK5CYII=")}
  .input-pad .clear{background-size:30px 30px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAMFBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMySLVSoAAAAD3RSTlMAECAwQFBgcICPn7/P3++kfFgMAAAArklEQVR42u2UwQ6EIAxEi7tWLSj//7fGC5M1UjZzNH0nEnyJTAckCIKXk7bcY00jt9Q+hXCBEm5j9eRSedl+vsxYQf7TNdF2UhvKy80V0ZaSDWS9uRfaEjZX/j4ORbFw5M/xPNIJbldOu1sIdQMrbp3UHZW5ZVS3JHNlZKTF/DZ2+cBgE6NCN6mSiFWmnrCZiwGbuZKwuccANv+G2Vjm7UV4+0jio7nLNkkQBC/kBCeMLotUD9YCAAAAAElFTkSuQmCC")}
}